<h1>{{name}}</h1>

<app-polaroid 
    imgPath='assets/ella/ella-profil.JPG'
    textDe='Prinzessin auf der Erbse'
    textEn='Princess and the Pea'>
</app-polaroid>

<app-list-items-card
    titleDe='Steckbrief'
    titleEn='Fact Sheet'
    [listItemsDe]=factsDe
    [listItemsEn]=factsEn>
</app-list-items-card>

<app-pedigree-card
    [name]=name
    dad='Haldane World Traveller'
    mom='Wheaten My Love Nice To See You'
    daddad='Mil Mear Geragold Cowboy Up'
    dadmom='Geragold Relax at Haldane'
    momdad="Choroschie Drusja's Harry Callahan"
    mommom='Sophisticated Wheaten Charming-Girl'>
</app-pedigree-card>