@import '../../../theme';

.header-wrapper {
    background-color: $menu-bar-colour;
    width: 100%;
    height: 60px;
    border-bottom: $menu-border;
}

.headline {
    padding: 12px;
    font-weight: bold;
    font-size: 32px; 
    padding-left: 60px;
    color: $head-text-colour;
    white-space: nowrap;
    overflow: hidden;
}