.header-wrapper {
    background-color: #E0115F;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid black;
}

.headline {
    padding: 12px;
    font-weight: bold;
    font-size: 32px; 
}