<mat-card>
  <mat-card-header>
    <mat-card-title>{{title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <p>
      {{subtitle}}
    </p>

    <form class='contact-form' (ngSubmit)='onSubmit()'>

      <mat-form-field appearance='standard' class='form-item'>
        <mat-label>Name</mat-label>
        <input matInput ([ngModel])='contactDetails.name'
          name='first'>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field class='form-item'>
        <mat-label>E-Mail</mat-label>
        <input matInput [formControl]='emailFormControl'>
        <mat-icon matSuffix>mail_outline</mat-icon>
        <mat-error *ngIf="emailFormControl.hasError('email') &&
          !emailFormControl.hasError('required')">
          {{mailInvalid}}
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          {{mailRequired1}}<strong>{{mailRequired2}}</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance='outline' class='form-item form-message'>
        <mat-label>{{message}}</mat-label>
        <textarea matInput
          cdkTextareaAutosize
          #autosize='cdkTextareaAutosize'
          [(ngModel)]='contactDetails.message'
          name='message'></textarea>
        <mat-icon matSuffix>comment</mat-icon>
      </mat-form-field>

      <p class='submit-wrapper'>
        <button mat-raised-button color='accent' type='submit'>{{submit}}</button>
      </p>

    </form>

  </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
      <mat-card-title>{{title2}}</mat-card-title>
    </mat-card-header>
  <mat-card-content>
    <div class='icon-row'>
        <div class='icon-wrapper'>
            <button mat-fab color='accent' (click)='onPhoneClick()'>
                <mat-icon>phone</mat-icon>
            </button>
        </div>
      <div class='icon-wrapper'>
          <button mat-fab color='accent' (click)='onMailClick()'>
              <mat-icon>mail_outline</mat-icon>
          </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

    <mat-card>
        <mat-card-header>
          <mat-card-title>{{title3}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div id="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1220.8409622107197!2d8.7647623!3d52.2673208!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ba0cebad71e02f%3A0x6f03a0f42c5cc44!2sZum+J%C3%A4gerpl.+17%2C+32549+Bad+Oeynhausen!5e0!3m2!1sde!2sde!4v1550859853784" 
            width="100%" 
            height="450" 
            frameborder="0" 
            style="border:0" 
            allowfullscreen></iframe>
          </div>
        </mat-card-content>
      </mat-card>