<app-contact-form></app-contact-form>

<mat-card>
  <mat-card-header>
    <mat-card-title>{{title2}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class='icon-row'>
      <div class='icon-wrapper'>
        <button mat-fab color='accent' (click)='onPhoneClick()'>
          <mat-icon>phone</mat-icon>
        </button>
      </div>
      <div class='icon-wrapper'>
        <button mat-fab color='accent' (click)='onMailClick()'>
          <mat-icon>mail_outline</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>{{title3}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div id='google-maps'>
      <iframe
        src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2441.6812380654014!2d8.763231315755515!3d52.26733326267584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ba0da240514d91%3A0xf82c8d5a6222eaa4!2sMary&#39;s+Ruby!5e0!3m2!1sde!2sde!4v1550918838636'
        width='100%' height='450' frameborder='0' style='border:0' allowfullscreen></iframe>
    </div>
  </mat-card-content>
</mat-card>