.contact-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-item {
  width: 80%;
}

.form-message {
    margin-top: 16px;
}

.submit-wrapper {
    button {
        margin-left: auto; // TODO
    }
}

.icon-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icon-wrapper {
  padding: 6px;
  border-radius: 25px;
  mat-icon {
  }
}