@import '../../../theme';

.contact-form {
  min-width: 200px;
  max-width: 500px;
  width: 100%;
}
  
.form-item {
  width: 80%;
}
  
.form-message {
  margin-top: 16px;
}
  
.submit-wrapper {
  display: flex;
  justify-content: flex-end;
}

.error {
  color: mat-color($warn);
}

.invisible {
  visibility: hidden;
}