<h1>{{title}}</h1>

<mat-card>
  <mat-card-header>
    <mat-card-title>{{betreiberin}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{zucht}} Mary's Ruby
    </p>
    <p>
      Zum Jägerpl. 17
    </p>
    <p>
      32549 Bad Oeynhausen
    </p>
    <p>
      Tel: +49 171 4871595
    </p>
    <p>
      {{ansprechpartner}}: Sarah Seidel
    </p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-header>
    <mat-card-title>{{verantwortlich}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Sarah Seidel
    </p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-header>
    <mat-card-title>Webdesign</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Michel Mangold
    </p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>{{inhalteDritter}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{inhalteDritterText1}}</p>
    <p>{{inhalteDritterText2}}</p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-header>
    <mat-card-title>{{disclaimer}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    Link: <a href="http://www.disclaimer.de/disclaimer.htm" target="_blank" class="content">{{disclaimer}}</a>
  </mat-card-content>
</mat-card>