<h1>{{name}}</h1>

<app-polaroid 
    imgPath='assets/james/james-profil.JPG'
    textDe='Balljäger'
    textEn='Ball Hunter'>
</app-polaroid>

<app-list-items-card
    titleDe='Titel'
    titleEn='Titles'
    [listItemsDe]=titleListDe
    [listItemsEn]=titleListEn>
</app-list-items-card>

<app-list-items-card
    titleDe='Steckbrief'
    titleEn='Fact Sheet'
    [listItemsDe]=factsDe
    [listItemsEn]=factsEn>
</app-list-items-card>

<app-pedigree-card
    [name]=name
    dad="Ballyhara's Kingsly"
    mom="Ballyhara's Treasure from Trá Lí"
    daddad="Wheaten Volunteer’s Ivanhoe"
    dadmom="Ballyhara's Diorbhall-Ita"
    momdad="Goforit Danny de Vito"
    mommom="Ballyhara's Jewel of Tara">
</app-pedigree-card>
