<app-dog-cover 
    [name]=name
    birthdate='24.09.2015'
    imgPath='assets/james/james-profil.JPG'
    descriptionDe='Dieser Text beschreibt James.'
    descriptionEn='This text describes James.'>
</app-dog-cover>

<app-list-items-card
    titleDe='Titel'
    titleEn='Titles'
    [listItemsDe]=titleListDe
    [listItemsEn]=titleListEn>
</app-list-items-card>

<app-list-items-card
    titleDe='Steckbrief'
    titleEn='Fact Sheet'
    [listItemsDe]=factsDe
    [listItemsEn]=factsEn>
</app-list-items-card>

<app-pedigree-card
    [name]=name
    dad="Ballyhara's Kingsly"
    mom="Ballyhara's Treasure from Trá Lí"
    daddad="Wheaten Volunteer’s Ivanhoe"
    dadmom="Ballyhara's Diorbhall-Ita"
    momdad="Goforit Danny de Vito"
    mommom="Ballyhara's Jewel of Tara">
</app-pedigree-card>
