<h1>Über Uns</h1>

<mat-card class='about-card'>
    <mat-card-content>
      <p>
        Ein unwiderstehlicher Wheatenblick hat vor 15 Jahren Jahren dazu geführt, dass wir uns für diese außergewähnliche Rasse entschieden haben.
        Bisher durften drei Wheaten bei uns einziehen.
        Angefangen mit einem hereinschnuppern in die Welt der Showhunde, wurde das Ausstellen zu einer Leidenschaft.
        Ella & James konnten ihre Pfoten nicht voneinander lassen und so entstand unser Kennel Mary's Ruby.
        Unseren ersten Wurf erwarten wir gespannt im März 2019.
      </p>
    </mat-card-content>
  </mat-card>