<h1>{{news}}</h1>

<!--app-polaroid-collage
  titleDe='Polaroid Haufen Beispiel'
  titleEn='Polaroid Pile Example'
  imgPath1='assets/james/james-profil.JPG'
  text1De='James'
  text1En='James'
  imgPath2='assets/ella/ella-profil.JPG'
  text2De='Ella'
  text2En='Ella'
  imgPath3='assets/james/james-profil.JPG'
  text3De='James2'
  text3En='James2'
  imgPath4='assets/ella/ella-profil.JPG'
  text4De='Ella2'
  text4En='Ella2'>
</app-polaroid-collage-->

<app-news-card
  titleDe='A-Wurf'
  titleEn='A-Litter'
  date='16.03.2019'
  textDe='Ellas bringt 8 gesunde kleine Welpen zur Welt!'
  textEn="Ella's births 8 healthy little puppies!">
</app-news-card>
<div class='action-button-wrapper'>
  <button mat-raised-button color='accent' (click)='onALitter()'>
    <mat-icon>play_arrow</mat-icon>
    Zum A-Wurf!
  </button>
</div>

<app-polaroid-collage
  titleDe='Unsere Hunde'
  titleEn='Our dogs'
  imgPath1='assets/james/james-profil.JPG'
  text1De='James'
  text1En='James'
  nav1='/james'
  imgPath2='assets/ella/ella-profil.JPG'
  text2De='Ella'
  text2En='Ella'
  nav2='/ella'>
</app-polaroid-collage>

<app-news-card
  titleDe='Ellas Untersuchung'
  titleEn="Ella's Doctors Appointment"
  date='15.02.2019'
  textDe='Ellas Trächtigkeit ist nun offiziell bestätigt!'
  textEn="Ella's pregnancy is now officially confirmed!">
</app-news-card>

<app-news-card
  titleDe="Über Uns"
  titleEn='About Us'
  date='25.02.2018'
  textDe="Ein unwiderstehlicher Wheatenblick hat vor 15 Jahren Jahren dazu geführt, dass wir uns für diese außergewähnliche Rasse entschieden haben.
  Bisher durften drei Wheaten bei uns einziehen.
  Angefangen mit einem hereinschnuppern in die Welt der Showhunde, wurde das Ausstellen zu einer Leidenschaft.
  Ella & James konnten ihre Pfoten nicht voneinander lassen und so entstand unser Kennel Mary's Ruby.
  Unseren ersten Wurf erwarten wir gespannt im März 2019."
  textEn="The irresistable sight of a Wheaten made us decide for this extraordinary race 15 years ago.
  So far, we adopted three Wheaten Terriers.
  Starting off with testing the waters of showdogs, we soon grew to passionate showdog leaders.
  Ella & James couldn't keep their paws to themselves and so our Kennel Mary's Ruby was started.
  Our first litter is expected in March 2019">
</app-news-card>

<app-polaroid-collage
  titleDe='Schnappschüsse'
  titleEn='Snapshots'
  imgPath1='assets/erste-schnappschuesse/die-gang.JPG'
  text1De='Die Gang'
  text1En='The Gang'
  imgPath2='assets/erste-schnappschuesse/ella-james-feld.JPG'
  text2De='Wettrennen'
  text2En='Racing and Chasing'
  imgPath3='assets/erste-schnappschuesse/ella-wald.JPG'
  text3De='Waldspaziergang'
  text3En='Forest Walks'
  imgPath4='assets/erste-schnappschuesse/james-sonne.JPG'
  text4De='Sunny Boy'
  text4En='Sunny Boy'>
</app-polaroid-collage>

<app-news-card
  titleDe="Mary's Ruby offiziell gegründet!"
  titleEn="Mary's Ruby officially created!"
  date='28.08.2018'
  textDe='Alle Formalien sind erfüllt, dass wir erfreulicherweise unsere Hundezucht starten können'
  textEn="We are happy to announce that all formalities are met, such that we can officially begin our breeding home">
</app-news-card>
