<h1>Aktuelles</h1>

<app-news-card
  titleDe='Ellas Untersuchung'
  titleEn="Ella's Doctors Appointment"
  date='15.02.2019'
  textDe='Ellas Schwangerschaft ist nun offiziell bestätigt!'
  textEn="Ella's pregnancy is now officially confirmed!">
</app-news-card>

<app-news-card
  titleDe="Mary's Ruby offiziell gegründet!"
  titleEn="Mary's Ruby officially created!"
  date='18.08.2018'
  textDe='Ellas Schwangerschaft ist nun offiziell bestätigt!'
  textEn="Ella's pregnancy is now officially confirmed!">
</app-news-card>