<h1>Aktuelles</h1>

<mat-card>
  <mat-card-header>
    <mat-card-title>Ella Untersuchung</mat-card-title>
    <mat-card-subtitle>15.02.2019</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Ellas Schwangerschaft ist nun offiziell bestätigt!
    </p>
  </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
      <mat-card-title>Marys Ruby's offiziell gegründet!</mat-card-title>
      <mat-card-subtitle>18.08.2018</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Alle Bedingungen sind nun erfüllt, dass die liebevolle Zuchtheimat Marys Ruby's eröffnet werden kann.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card>
      <mat-card-header>
        <mat-card-title>Marys Ruby's offiziell gegründet!</mat-card-title>
        <mat-card-subtitle>18.08.2018</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Alle Bedingungen sind nun erfüllt, dass die liebevolle Zuchtheimat Marys Ruby's eröffnet werden kann.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
          <mat-card-title>Marys Ruby's offiziell gegründet!</mat-card-title>
          <mat-card-subtitle>18.08.2018</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Alle Bedingungen sind nun erfüllt, dass die liebevolle Zuchtheimat Marys Ruby's eröffnet werden kann.
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card>
          <mat-card-header>
            <mat-card-title>Marys Ruby's offiziell gegründet!</mat-card-title>
            <mat-card-subtitle>18.08.2018</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              Alle Bedingungen sind nun erfüllt, dass die liebevolle Zuchtheimat Marys Ruby's eröffnet werden kann.
            </p>
          </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>
              <mat-card-title>Marys Ruby's offiziell gegründet!</mat-card-title>
              <mat-card-subtitle>18.08.2018</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                Alle Bedingungen sind nun erfüllt, dass die liebevolle Zuchtheimat Marys Ruby's eröffnet werden kann.
              </p>
            </mat-card-content>
          </mat-card>

          <mat-card>
              <mat-card-header>
                <mat-card-title>Marys Ruby's offiziell gegründet!</mat-card-title>
                <mat-card-subtitle>18.08.2018</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>
                  Alle Bedingungen sind nun erfüllt, dass die liebevolle Zuchtheimat Marys Ruby's eröffnet werden kann.
                </p>
              </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-header>
                  <mat-card-title>Marys Ruby's offiziell gegründet!</mat-card-title>
                  <mat-card-subtitle>18.08.2018</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Alle Bedingungen sind nun erfüllt, dass die liebevolle Zuchtheimat Marys Ruby's eröffnet werden kann.
                  </p>
                </mat-card-content>
              </mat-card>