/* You can add global styles to this file, and also import other style files */
@import 'theme';

body {
    margin: 0;
    background-color: $main-colour;
}

mat-card {
  border-top: 2px solid $highlight-colour;
  margin-bottom: 6px;
  margin: 16px;
  box-shadow: 0px 4px 5px 4px $highlight-colour-shadow;
}

mat-card-title {
    font-weight: bold;
}

mat-card-subtitle {
    font-weight: lighter;
    font-style: italic;
}