// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/theming"; // kann der import raus? ist ja in theme drin

@include mat-core();

@import "theme";

$global-font: 'Raleway';

$custom-typography: mat-typography-config(
  $font-family: $global-font
);

body {
  margin: 0;
}

h1 {
  padding-left: 16px;
}

mat-card {
  margin-bottom: 6px;
  margin: 16px;
  border-top: 2px solid mat-color($accent, lighter);
}

mat-card-title {
  font-weight: bold;
}

mat-card-subtitle {
  font-weight: lighter;
  font-style: italic;
}


@include angular-material-theme($app-theme);
@include angular-material-typography($custom-typography);