@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'theme';

body {
    margin: 0;
}

mat-card {
  border-top: 2px solid $card-highlight;
  margin-bottom: 6px;
  margin: 16px;
}

mat-card-title {
    font-weight: bold;
}

mat-card-subtitle {
    font-weight: lighter;
    font-style: italic;
}

mat-expansion-panel {
    background-color: $menu-bar-colour;
}