@import "~@angular/material/theming";

@import "theme-palette";

// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat-palette($mat-gray, $default: 700, $lighter: 300);
$app-accent: mat-palette($ruby-theme-accent, $lighter: 400);
$app-warn: mat-palette($mat-red);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

$primary: map-get($app-theme, primary);
$accent: map-get($app-theme, accent);

$background-colour: mat-color($primary, 50);
$header-bar-colour: mat-color($accent, lighter);
$header-text-colour: mat-color($accent, lighter-contrast);
$menu-bar-colour: mat-color($primary, lighter);
$menu-text-colour: mat-color($primary, lighter-contrast);
$menu-item-hover: mat-color($accent);
$menu-item-hover-text: mat-color($accent, default-contrast);
$header-border: 2px solid mat-color($accent, darker);
$menu-border: none;
$menu-shadow: 2px 0 4px 0 mat-color($primary, darker);
