<h1>{{headline}}</h1>

<app-polaroid 
    imgPath='assets/aWurf/aWurf.JPG'
    textDe='6 Hündinnen und 2 Rüden!'
    textEn='6 Bitches and 2 Males!'>
</app-polaroid>

<app-polaroid-collage
  titleDe='Die stolzen Eltern'
  titleEn='The proud Parents'
  imgPath1='assets/james/james-profil.JPG'
  text1De='James'
  text1En='James'
  nav1='/james'
  imgPath2='assets/ella/ella-profil.JPG'
  text2De='Ella'
  text2En='Ella'
  nav2='/ella'>
</app-polaroid-collage>

<app-image-carousel
  [imageObject]='imageObject'>
</app-image-carousel>