<mat-drawer-container class='sidenav-container' autosize>
  <mat-drawer #drawer class='sidenav' mode='side'>
    <div class='drawer-content'>


      <div class='menu-button'>
        <button mat-raised-button color='accent' (click)='drawer.toggle()'>
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class='space-for-menu-button'></div>
      <button mat-button class='sidenav-button' (click)='navHome()'>
        <mat-icon>home</mat-icon>
        <span>{{homepage}}</span>
      </button>
      <button mat-button class='sidenav-button' (click)='navAbout()'>
        <span>{{about}}</span>
      </button>
      <mat-accordion displayMode='flat'>
        <mat-expansion-panel class='sidenav-expansion-panel'>
          <mat-expansion-panel-header class='sidenav-button-expansion'>
            <mat-panel-title class='sidenav-expansion-title'>
              {{dogs}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class='expansion-panel-content'>
            <button mat-button class='sidenav-button' (click)='navElla()'>
              <span>Ella</span>
            </button>
            <button mat-button class='sidenav-button' (click)='navJames()'>
              <span>James</span>
            </button>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class='sidenav-expansion-panel'>
          <mat-expansion-panel-header class='sidenav-button-expansion'>
            <mat-panel-title class='sidenav-expansion-title'>
              {{puppies}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class='expansion-panel-content'>
            <button mat-button class='sidenav-button' (click)='navLittersA()'>
              <span>A</span>
            </button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <button mat-button class='sidenav-button' (click)='navFotos()'>
        <span>Fotos</span>
      </button>
      <button mat-button class='sidenav-button' (click)='navContact()'>
        <span>{{contact}}</span>
      </button>

      <div class='languages'>
        <button mat-button (click)='langGerman()'>
          <img src='assets/flag-de.png' alt='De'>
        </button>
        <button mat-button (click)='langEnglish()'>
          <img src='assets/flag-uk.png' alt='Eng'>
        </button>
      </div>

      <button mat-button class='sidenav-button' (click)='navImpressum()'>
        <span>Impressum</span>
      </button>
    </div>
  </mat-drawer>

  <div class='sidenav-content'>
    <app-header class='header'></app-header>
    <router-outlet></router-outlet>
  </div>

  <div class='menu-button'>
    <button mat-raised-button color='accent' (click)='drawer.toggle()'>
      <mat-icon>menu</mat-icon>
    </button>
  </div>

</mat-drawer-container>