@import '../../../theme';

.sidenav-container {
    width: 100%;
    height: 100%;
    background-color: $menu-bar-colour;
    mat-drawer {
      background-color: $menu-bar-colour;
    }
  }
  
  .sidenav-content {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
  }
  
  .sidenav {
    padding: 20px;
    z-index: 999;
    position: fixed;
    top: 60px;
    left: 0;
    border-right: $menu-border;
  }

.header {
  width: 100%;
}

.menu-button {
  padding: 6px 12px 6px 6px;
  position: fixed;
  top: 4px;
  left: 0;
  background-color: $menu-button;
  border-radius: 0 25px 25px 0;
  border: $menu-border;
  border-left: none;
  z-index: 1000;
}

.sidenav-button {
  background-color: transparent;
  text-align: left;
  color: $head-text-colour;
  &:hover {
    background-color: $menu-item-hover;
    color: $menu-item-hover-text;
  }
}

.sidenav-expansion-panel {
  border-radius: 0 !important;
  box-shadow: none;
  ::ng-deep .mat-expansion-panel-content {
    background-color: $menu-bar-colour;
  }
}

.sidenav-button-expansion {
  text-align: left;
  padding-left: 16px;
  background-color: $menu-bar-colour !important;
  &:hover {
    background-color: $menu-item-hover !important;
    .sidenav-expansion-title {
      color: $menu-item-hover-text;
    }
    ::ng-deep .mat-expansion-indicator:after {
      color: $menu-item-hover-text;
    }
  }
  ::ng-deep .mat-expansion-indicator:after {
    color: $head-text-colour;
  }
}

.sidenav-expansion-title {
  color: $head-text-colour;
}

.drawer-content {
  display: flex;
  flex-direction: column;
}

.expansion-panel-content {
  display: flex;
  flex-direction: column;
}

.languages {
  button {
    margin: 2px;
    &:hover {
      background-color: $menu-item-hover;
    }
  }
  img {
    max-width: 26px;
    margin: 0;
  }
}